Basic Arithmetic and Type Identification

Create 3 variables: int,float& complex

In [1]:
var_1=7
var_2=7.7
var_3=7+7j

Print all var & use type func to confirm data types

In [4]:
print("Varibale1:",var_1)
print("Varibale2:",var_2)
print("Varibale3:",var_3)

Varibale1: 7
Varibale2: 7.7
Varibale3: (7+7j)

In [8]:
print("DataType of Variable1:", type(var_1))
print("DataType of Variable2:", type(var_2))
print("DataType of Variable3:", type(var_3))

DataType of Variable1: <class 'int'>
DataType of Variable2: <class 'float'>
DataType of Variable3: <class 'complex'>

Arithmetic With Mixed Types

In [18]:
var_a=10
var_b=7.7
sum=var_a+var_b
diff=var_a-var_b
prod=var_a*var_b
quou=var_a//var_b
print("Sum of var a & b:",sum)
print("Difference var a & b:",diff)
print("Product var a & b:",prod)
print("Quotient var a & b:",quou)

Sum of var a & b: 17.7
Difference var a & b: 2.3
Product var a & b: 77.0
Quotient var a & b: 1.0

In [19]:
print("DataType of result of sum:", type(sum))
print("DataType of result of diff:", type(diff))
print("DataType of result of prod:", type(prod))
print("DataType of result of quou:", type(quou))

DataType of result of sum: <class 'float'>
DataType of result of diff: <class 'float'>
DataType of result of prod: <class 'float'>
DataType of result of quou: <class 'float'>

Comparision Operator

In [22]:
x=10
y=7
print("x > y :",x>y) #Result of x>y is True because x is 10 & y is 7.
print("x < y :",x<y) #Result of x<y is False because y is 7 & x is 10.
print("x == y :",x==y) # Because of the value of the both varible is differnt.
print("x != y :",x!=y) # Because the value of the both varibale is not equal.

x > y : True
x < y : False
x == y : False
x != y : True

Boolean Variables

In [24]:
status=True
print("Status is:",status)
print("Data type of status varibale is:",type(status))

Status is: True
Data type of status varibale is: <class 'bool'>

In [25]:
status=False
print("Status is:",status)
print("Data type of status varibale is:",type(status))

Status is: False
Data type of status varibale is: <class 'bool'>

String Creation and Length

In [28]:
my_name='Md Kalam'
print("Length of my name is:",len(my_name))
print("Data type of my name is:",type(my_name))

Length of my name is: 8
Data type of my name is: <class 'str'>

String Indexing

In [49]:
s="Python"
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

P
y
t
h
o
n

In [36]:
first_char=s[-6]
second_char=s[-1]
print("First character:",first_char)
print("Second character:",second_char)

First character: P
Second character: n

String Sclicing

In [52]:
lang="Programming"
print(lang[0:4])
print(lang[3:])
print(lang[2:-2])

Prog
gramming
ogrammi

Exploring len() on slices

In [61]:
lang[0:7]
part1=lang[0:7]
print("Length of part1:",len(part1)) #lang has 11 charcater and we have sliced program that has only 7 characters
print("Length of lang:",len(lang))

Length of part1: 7
Length of lang: 11

String Methods

Case Conversion

In [65]:
phrase = "Hello, Python!"
print("Uppercase:", phrase.upper())
print("Lowercase:", phrase.lower())
print("Original phrase:", phrase)

Uppercase: HELLO, PYTHON!
Lowercase: hello, python!
Original phrase: Hello, Python!

Combining Strings

In [71]:
str1="Data "
str2="Science"
result=str1+str2
print("Combination of both strings:",result)
print("Length of the combined strings:",len(result))

Combination of both strings: Data Science
Length of the combined strings: 12

In-place vs Reassignment with String methods

In [75]:
word = "example"
word.upper()  #this create new uppercase str but we have not stored it, so it will be as it is.
print("Without assignment:", word)  #word is still word without assignment that is "example"
word = word.upper()
print("After reassignment:", word)  #Now after we re assigned the word to word.upper() it will became "EXAMPLE"

Without assignment: example
After reassignment: EXAMPLE

Arithmetic operator Precedence

In [78]:
a=5
b=3
c=2
result_1=a+b*c
result_2=(a+b)*c
print("Result of expression a+b*c:",result_1)
print("Result of expression (a+b)*c:",result_2)
#In a+b*c  (*) has higher precedence than(+) so b*c  calculated 1st & then added
#In(a + b)*c" , () have the highest precedence,  a+b is calculated 1st & then multiplied by c

Result of expression a+b*c: 11
Result of expression (a+b)*c: 16

String index out of range

In [81]:
text='Hello'
text[10]
#it give error of the string index out range  because in python we start positive from 0 to ... from left to right so in that casewe have Hello string that ranges from 0 to 4 only & We are printing text[10]that means 0 to 9. thats why it is giving error """

IndexError: string index out of range

Equality vs Identity Check

In [82]:
s1='test'
s2='test'
print("Comparing using == operator:",s1==s2)  #it checks value of s1 and s2 are same
print("Comparing using is operator:",s1 is s2) # it checks weather the s1 and s2 refers to same memory location

Comparing using == operator: True
Comparing using is operator: True

Creating and checking a complex number

In [85]:
z=3+4j
print("Real part:",z.real)
print("Imag part:",z.imag)
print("Data type of z:",type(z))

Real part: 3.0
Imag part: 4.0
Data type of z: <class 'complex'>

Comparision with float

In [87]:
f1=0.1+0.2 #is not equal to 0.3
f2=0.3  #is exactly 0.3
print("f1==f2:",f1==f2) #it gives false because of floating point representation in binary
print("f1:",f1)
print("f2:",f2)

f1==f2: False
f1: 0.30000000000000004
f2: 0.3